body{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-image: url(../img/bg-image.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Be Vietnam Pro", sans-serif;
}
.Text_main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    flex-wrap: wrap;
    padding-left: 34%;
    color: #F8FAFC;
}
.Text_main .text_main{
    font-size: 64px;
    width: 800px;
    margin: 0px 0px 20px 0px;
}